@model IEnumerable<wrestling.core.Models.MatchModel>

@{
    ViewBag.Title = "list";
}

<h2>list</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.matchID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.homePlayer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.awayPlayer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.matchTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.homeInjuryTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.awayInjuryTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.homeBloodTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.awayBloodTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.homePoints)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.awayPoints)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.matchID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.homePlayer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.awayPlayer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.matchTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.homeInjuryTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.awayInjuryTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.homeBloodTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.awayBloodTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.homePoints)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.awayPoints)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
